{% extends "base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Votre identifiant et votre mot de passe ne correspondent pas. Merci de réessayer.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Vous n'avez pas accès à cette page. Merci de vous connecter avec un autre compte.</p>
        {% else %}
            <p>Merci de vous connecter pour accéder à cette page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="Connexion"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
{% endblock %}