{% extends "base.html" %}

{% block content %}
    <h2>Mes documents</h2>
    <br/>
    {% if document_list %}
        <div class="list-group">
            {% for document in document_list %}
                <a href="{% url 'document-detail' document.id %}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ document.name }}</h4>
                    {% if document.expiration_date %}
                        <p class="list-group-item-text{% if document.expire_soon %} user_alert{% endif %}">
                            Expiration : {{ document.expiration_date|date:'d/m/Y' }}</p>
                    {% endif %}
                </a>
                <br/>
            {% endfor %}
        </div>
    {% else %}
        Aucun document.
    {% endif %}
{% endblock %}