{% extends 'base.html' %}

{% load documents_tags %}

{% block content %}
    <h2>{{ object }}</h2>

    <p>
        {% if object.expiration_date %}
            Date d'expiration : {{ object.expiration_date|date:'d/m/Y' }}
        {% else %}
            Date d'expiration non définie.
        {% endif %}
    </p>

    {% for file in object.file_set.all %}
        <a href="{% url 'document-download' file.id file.slugname %}" class="list-group-item" download>
            <p class="list-group-item-text">
                Télécharger ce fichier<br><br>
                {% url 'document-preview' file.id file.slugname as preview_url %}
                {{ preview_url|document_preview }}
            </p>
        </a>
        <br>
    {% endfor %}
{% endblock %}
