{% extends 'base.html' %}

{% load documents_tags %}

{% block content %}
    <h2>{{ object.category.name }}</h2>

    <p>
        {% if object.expiration_date %}
            Date d'expiration : {{ object.expiration_date|date:'d/m/Y' }}
        {% else %}
            Date d'expiration non définie.
        {% endif %}
    </p>

    {% for file in object.file_set.all %}
        <a href="{{ file.file.url }}" class="list-group-item">
            <p class="list-group-item-text">
                Télécharger ce fichier<br><br>
                {{ file.file.url|document_preview }}
            </p>
        </a>
        <br>
    {% endfor %}
{% endblock %}