{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document Backup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-3.3.6.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-3.3.6.min.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "index" %}">Docalabri</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if user.is_authenticated %}
                <a class="navbar-brand pull-right" href="{% url 'logout' %}">Déconnexion</a>
                <a class="navbar-brand pull-right" href="{% url 'document-list' %}">Mes documents</a>
            {% else %}
                {% if auth_form %}
                    <form class="navbar-form navbar-right" action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ auth_form.username }}
                        </div>
                        <div class="form-group">
                            {{ auth_form.password }}
                        </div>
                        <button type="submit" class="btn btn-success">Connexion</button>
                    </form>
                {% endif %}
            {% endif %}
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
    <hr>
    <footer class="footer">
        <p>&copy; 2016 Docalabri.</p>
    </footer>
</div>

</body>
</html>
